<html>
<head>
<title>

Calculadora
</title>

</head>

<body>
<!-- kdmsck

*renomer os 2 campos para "numero1, numero2"(label, name e id)
remover o "textarea" e adicionar o "submit"
alterar o "end point"da minha api para ele receber o metodo "post"
Pesquisar como receber os parametros via post
-->

    <form action="/soma-dois-valores" method="get">
        <ul>
         <li>
           <label for="numero1">Numero1===></label>
           <input type="text" id="numero1" name="numero1">
         </li>
         <li>
           <label for="numero2">Numero2===></label>
           <input type="text" id="numero2" name="numero2">
         </li>
         <li>
           <label for="rst">Resultado===></label>
           <input type="submit" value="Send Request">
         </li>
        </ul>
       </form>
</body>







</html>